#include "./common/NetNewsWire_codesigning_common.xcconfig"
#include "./common/NetNewsWire_macapp_target_common.xcconfig"

CODE_SIGN_ENTITLEMENTS = Mac/Resources/NetNewsWire.entitlements
PRODUCT_BUNDLE_IDENTIFIER = $(ORGANIZATION_IDENTIFIER).NetNewsList$(BUNDLE_ID_SUFFIX)
PRODUCT_NAME = NetNewsList
PRODUCT_MODULE_NAME = NetNewsWire
